.wrapper{
    width: 100%;
    height: 100%;
}

.newnav{
    position: absolute;
    color: white;
    width: 100%;
    height: 5%;
    margin-top: 3%;
}

.newnavitems{
    font-family: "Futura PT", sans-serif;
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.newnavitems:hover{
    color: darkgoldenrod;
}

.navhome{
    padding: 100px 0 0 520px;
    color: white;
}

.naveat{
    color: white;
    padding: 100px;
}

.navexplore{
    color: white;
}

.navstay{
    color: white;
    padding: 100px;
}

/*.nav{*/
/*    text-decoration: none;*/
/*    font-family: "Futura PT", sans-serif;*/
/*    position: absolute;*/
/*    padding: 4px;*/
/*    top: 3%;*/
/*    left: 3%;*/
/*    filter: invert(100%);*/
/*}*/
/*.nav ul li{*/
/*    display: inline;*/
/*    z-index: 30;*/
/*}*/

/*.dropdown-menu{*/
/*    display: none;*/
/*    font-family: "Futura PT", sans-serif;*/
/*    z-index: 30;*/
/*}*/

/*.nav:hover{*/
/*    transform: rotate(90deg);*/
/*}*/

.headphoto{
    background :url("../photos/siestakey10.jpg") no-repeat center fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: 20;
}

.heading{
    font-size: 180px;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Futura PT", sans-serif;
    width: 1800px;
    height: 500px;
    text-align: center;
    z-index: 10;
}

.map{
    position: absolute;
    float: left;
    top: 100%;
    padding: 80px;
    z-index: 20;
}

.arrowtop{
    position: absolute;
    top: 190%;
    left: 50px;

}

/*.mapbox{*/
/*    position: absolute;*/
/*    float: left;*/
/*    top: 100%;*/
/*    padding: 80px;*/
/*    width: 564px;*/
/*    height: 752px;*/
/*    z-index: 10;*/
/*}*/

.one{
    position: absolute;
    float: left;
    top: 26%;
    left: 35%;
    width: 110px;
    height: 90px;
    cursor: url("https://adell003.github.io/advancedwebdesign/sun.png"), auto;
    z-index: 1;
}

.two{
    position: absolute;
    float: left;
    top: 50%;
    left: 53%;
    width: 110px;
    height: 90px;
    cursor: url("https://adell003.github.io/advancedwebdesign/sun.png"), auto;
    z-index: 1;

}

.three{
    position: absolute;
    float: left;
    top: 70%;
    left: 58%;
    width: 110px;
    height: 110px;
    cursor: url("https://adell003.github.io/advancedwebdesign/sun.png"), auto;
    z-index: 1;

}

.list{
    position: absolute;
    right: 80px;
    top: 105%;
    padding: 20px 0 40px 0;
    width: 850px;
    height: 100%;
    margin-bottom: 10px;
}

#listone{
    font-family: "Futura PT", sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 10px;
}

.fun{
    width: 840px;
    height: 415px;
    background-color: #EBDDCA;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 50px;
    text-align: left;
    margin: 30px 0 10px 0;
}


#listtwo{
    font-family: "Futura PT", sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 10px;
}

#listthree{
    font-family: "Futura PT", sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 10px;
}

.funabout{
    font-size: 32px;
    padding: 50px 0 50px 0;
}

.longerfunabout{
    font-size: 24px;
    padding: 10px 0 5px 0;
}

.mediumfunabout{
    font-size: 24px;
    padding: 50px 0 50px 0;
}

.funlinks{
    font-size: 32px;
    text-decoration: none;
    color: black;
}

.funlinks:hover{
    color: white;
}