body {
	height: 4000px;
	margin: 0;
}

#trigger_1 {
	position: absolute;
	float: left;
	width: 200px;
	height: 2px;
	background: none;
	top: 100%;
	z-index: 2;
	padding: 80px;
}

.map {
	position: absolute;
	float: left;
	top: 100%;
	padding: 80px;
	z-index: 20;

}

/*.one{*/
/*	position: absolute;*/
/*	float: left;*/
/*	top: 123%;*/
/*	left: 13%;*/
/*	width: 20px;*/
/*	height: 1px;*/
/*	cursor: url("https://adell003.github.io/advancedwebdesign/sun.png"), auto;*/
/*}*/

/*.two{*/
/*	position: absolute;*/
/*	float: left;*/
/*	top: 151%;*/
/*	left: 21%;*/
/*	width: 20px;*/
/*	height: 1px;*/
/*	cursor: url("https://adell003.github.io/advancedwebdesign/sun.png"), auto;*/

/*}*/

/*.three{*/
/*	position: absolute;*/
/*	float: left;*/
/*	top: 173%;*/
/*	left: 24%;*/
/*	width: 20px;*/
/*	height: 1px;*/
/*	cursor: url("https://adell003.github.io/advancedwebdesign/sun.png"), auto;*/

/*}*/



